{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}


        <div class="row">
            {% for entreprise in listeEntreprises if entreprise.stages | length > 0 %}
            <div class="col-md-6" >
                <div class="list-group" style="margin-bottom: 20px">
                     <a href="#" class="list-group-item list-group-item-action active"><strong><h2>{{entreprise.nom}}</h2></strong></a>
                    <div class="list-group-item">
                        <h6 class="list-group-item-heading">
                            Activité : {{entreprise.activite}}
                        </h6>
                        <p>
                            <a href="{{path('stagesEntreprise', {nom:entreprise.nom})}}">Voir tous les stages de l'entreprise {{entreprise.nom}}</a>
                        </p>
                    </div>
                 </div>
            </div>
            {% endfor %}
        </div>

                



{% endblock %}