{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

   

{% block body %}

<div class="row">
        {% for formation in listeFormations %}
        <div class="col-md-6" >
            <div class="list-group" style="margin-bottom: 20px">
                 <a href="#" class="list-group-item list-group-item-action active"><strong><h2>{{formation.nom}}</h2></strong></a>
                <div class="list-group-item">
                    <p>
                        <a href="{{path('stagesFormation', {id:formation.id})}}">Voir tous les stages appartenant à cette formation</a>
                    </p>
                </div>
             </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}