{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur ProStage{% endblock %}

{% block body %}
    <div class="row">
        {% for stage in listeStages %}
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">
                    <strong>{{stage.titre}}</strong>
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <p><b>Entreprise : {{stage.entreprise.nom}}</b></p>
                        <p>{{stage.description}}</p>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{path('stage',{id:stage.id})}}">En savoir plus...</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
